body {
    background-color: #242424;
    color: #cccccc;
}

button {
    background-color: #242424;
    color: #cccccc;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-container {
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5%;
    overflow: hidden;
}

.custom-textarea {
    width: 100%;
    height: 100%;
    background-color: #242424;
    color: #cccccc;
}